:root {
    font-family: sans-serif;
}

html {
    width: 100vw;
}

#main-header {
    background-color: lightgray;
    padding: 10px 30px;
}

nav ul {
    display: flex;
    padding-left: 0;
}

nav li {
    background-color: #909090;
    list-style-type: none;
    padding: 10px;
}

.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}

.container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
}

.grid {
    display: grid;
}

.c-3-100 {
    grid-template-columns: 100px 100px 100px;grid-template-columns: 100px 100px 100px;
}

.r-2-50 {
    grid-template-rows: 100px 100px;
}

.g3x3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.templated {
    grid-template-areas:
        "header header header"
        "advert . content"
        "footer footer footer";
}

.mq {
    min-height: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "advert"
      "content"
      "footer";
}

@media (min-width: 300px) {
    .mq {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "advert header"
        "advert content"
        "advert footer";
    }
  }

  @media (min-width: 400px) {
    .mq {
      grid-template-areas:
        "header header"
        "advert content"
        "footer footer";
    }
  }